<h2>this is the show</h2>

<p>{{tripShowVM.trip.id}}</p>
<h2>{{tripShowVM.trip.name}}</h2>
<div data-ng-repeat="place in tripShowVM.trip.locations">
  <p>{{place.name}}</p>
  <p>{{place.place_id}}</p>

</div>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  ng-src=
  {{tripShowVM.mapUrl}} allowfullscreen>
  
</iframe>

<h2>add locations</h2>

<form data-ng-submit="tripShowVM.search()">
  <input type="text" name="Search" data-ng-model="tripShowVM.query" value="input">
</form>

<!-- {{ indexVM.places[0][1].name }} -->
<div ng-repeat="place in tripShowVM.places[0] track by $index">
  {{ place.name }}
  {{ place.vicinity }}
  <button ng-click="tripShowVM.createLocation(tripShowVM.trip.id, place.name, place.geometry.location.lat, place.geometry.location.lng, place.place_id)">Save</button>
</div>
