<h1> index file </h1>
<div data-ng-repeat="trip in indexVM.trips">
  <p><a data-ui-sref="tripShow({id: trip.id})">{{trip.name}}</a></p>
  <p>{{trip.id}}</p>
</div>

<form data-ng-submit="indexVM.search()">
  <input type="text" name="Search" data-ng-model="indexVM.query" value="input">
</form>

<!-- {{ indexVM.places[0][1].name }} -->

<div ng-repeat="place in indexVM.places[0] track by $index">
  {{ place.name }}
  {{ place.vicinity }}
  <!-- need to add a button that will run "create()" function -->
</div>
